

h1{
   font-weight: 600;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form{
    background-color: aqua;
    width: 500px;
    border-radius: 20px;
}

.input{
    width:350px;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}